!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title JobPortal
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body



    %nav.navbar.navbar-expand-sm.bg-light
      %ul.navbar-nav
      -Category.all.each do |category|
        %li.nav-item
          .nav-link
            = link_to category.name, jobs_path(category: category.name)

      %form.form-inline{action: "/search"}
        %input.form-control.mr-sm-2{"aria-label" => "Search", placeholder: "Search", name: "q", type: "text"}/
        %button.btn.btn-outline-success.my-2.my-sm-0{type: "submit"} Search
    = yield
